/* Gnb.scss */

.gnb {
  display: flex;
  justify-content: center;
    &__layout{
      display: flex;
      height: 100px;
      width: 700px;
      align-items: center;
      justify-content: space-between;
 
    &__right{
        display: flex;
        align-items: center;
        justify-items: end;
    }
    &__link {
      margin-right: 15px;
      color: #333;
      text-decoration: none;
      font-weight: bold;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  }
  
  /* LogoutButton.scss */
  
