/* Gnb.scss */

.gnb {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__right{
        display: grid;
        align-items: center;
        justify-items: end;
    }
    &__link {
      margin-right: 15px;
      color: #333;
      text-decoration: none;
      font-weight: bold;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  /* LogoutButton.scss */
  
.logout{
  display: flex;
    &__name{
        color:#3498db;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    &__button {
        border:none;
        background-color: none;
        margin-left: 15px;
        color: #e74c3c;
        cursor: pointer;

        &:hover {
        text-decoration: underline;
        }
}
}