/* Gnb.scss */

.gnb {
  display: flex;
  justify-content: center;
    &__layout{
      display: flex;
      height: 100px;
      width: 700px;
      align-items: center;
      justify-content: space-between;
 
    &__right{
        display: flex;
        align-items: center;
        justify-items: end;
        a{
          text-decoration: none;
        }
        :nth-child(1){
          margin-right: 5px;
   
        }
    }
    }
    &__link {
      margin-right: 15px;
      color: #333;
      text-decoration: none;
      font-weight: bold;
      a{
        text-decoration: none;
      }
    
    }
  }
