.pagination {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    list-style: none;
    font-size: 13px;
    font-weight: 200;
    li {
      border: none;
      margin: 0 5px;
      font-size: 1.2em;
      color: #333;
      cursor: pointer;
  
      &.active {
        font-weight: bold;
        color: #3498db;
      }
  
      }
      a{
        text-decoration: none;
        color:#333;
        &:hover {
            color:#3498db;
      }
    }
  }