.sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-up-form {
    text-align: center;
    width: 450px;
    text-align: left;
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
    }
    &__input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    &__error {
      height: 20px;
      color: red;
      margin: 0;
      margin-bottom: 5px;
      text-align: left;
    }
    label{
      font-size: 12px;
      font-weight: bold;
    }
    button{
      margin-top: 30px;
    }
  
}