@charset "UTF-8";
.quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 15px;
  color: #666;
}

.button {
  display: inline;
  background-color: white;
  border: 1px solid #333;
  color: #333;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.button-s {
  font-size: 13px;
}
.button-m {
  font-size: 15px;
}
.button-l {
  font-size: 17px;
}

.comments-button {
  display: inline;
  border-radius: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

.like-box, .like-box-s, .like-box-m, .like-box-l {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #888;
  border-radius: 3px;
  width: 25px;
  height: 21px;
  padding: 2px 3px;
  font-size: 12px;
  font-weight: normal;
}
.like-box-s, .like-box-s-s, .like-box-m-s, .like-box-l-s {
  width: 25px;
  height: 21px;
  font-size: 12px;
}
.like-box-m, .like-box-s-m, .like-box-m-m, .like-box-l-m {
  width: 35px;
  height: 31px;
  font-size: 15px;
}
.like-box-l, .like-box-s-l, .like-box-m-l, .like-box-l-l {
  width: 45px;
  height: 41px;
  font-size: 17px;
}

.boder-none {
  border: none;
}

.like, .like-s, .like-m, .like-l {
  background-image: url("../../../images/heart-black.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 0;
  border: none;
  width: 10px;
  height: 10px;
}
.like-s, .like-s-s, .like-m-s, .like-l-s {
  width: 10px;
  height: 10px;
}
.like-m, .like-s-m, .like-m-m, .like-l-m {
  width: 13px;
  height: 13px;
}
.like-l, .like-s-l, .like-m-l, .like-l-l {
  width: 17px;
  height: 17px;
}
.like--liked, .like--liked-s, .like--liked-m, .like--liked-l, .like-s--liked, .like-s--liked-s, .like-s--liked-m, .like-s--liked-l, .like-m--liked, .like-m--liked-s, .like-m--liked-m, .like-m--liked-l, .like-l--liked, .like-l--liked-s, .like-l--liked-m, .like-l--liked-l {
  background-image: url("../../../images/heart-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 0;
  border: none;
  width: 10px;
  height: 10px;
}
.like--liked-s, .like--liked-s-s, .like--liked-m-s, .like--liked-l-s, .like-s--liked-s, .like-s--liked-s-s, .like-s--liked-m-s, .like-s--liked-l-s, .like-m--liked-s, .like-m--liked-s-s, .like-m--liked-m-s, .like-m--liked-l-s, .like-l--liked-s, .like-l--liked-s-s, .like-l--liked-m-s, .like-l--liked-l-s {
  width: 10px;
  height: 10px;
}
.like--liked-m, .like--liked-s-m, .like--liked-m-m, .like--liked-l-m, .like-s--liked-m, .like-s--liked-s-m, .like-s--liked-m-m, .like-s--liked-l-m, .like-m--liked-m, .like-m--liked-s-m, .like-m--liked-m-m, .like-m--liked-l-m, .like-l--liked-m, .like-l--liked-s-m, .like-l--liked-m-m, .like-l--liked-l-m {
  width: 13px;
  height: 13px;
}
.like--liked-l, .like--liked-s-l, .like--liked-m-l, .like--liked-l-l, .like-s--liked-l, .like-s--liked-s-l, .like-s--liked-m-l, .like-s--liked-l-l, .like-m--liked-l, .like-m--liked-s-l, .like-m--liked-m-l, .like-m--liked-l-l, .like-l--liked-l, .like-l--liked-s-l, .like-l--liked-m-l, .like-l--liked-l-l {
  width: 17px;
  height: 17px;
}

.drop-down {
  position: relative;
  display: inline-block;
  font-size: 20px;
}
.drop-down__content {
  position: absolute;
  z-index: 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
}
.drop-down__content__item {
  display: block;
  text-decoration: none;
  width: 120px;
  color: rgb(37, 37, 37);
  font-size: 12px;
  padding: 5px 10px;
  margin: 0;
  border-radius: 0;
}

.post-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.post-list__title {
  width: 100%;
  font-size: 1.5rem;
  color: #333;
}
.post-list__item {
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  padding: 25px 0;
  border: none;
  border-bottom: 1px solid #bcbcbc;
  transition: background-color 0.3s;
}
.post-list__desc {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  flex: auto;
}
.post-list__header {
  display: flex;
}
.post-list__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-overflow: ellipsis;
  min-width: 550px;
  padding: 14px 0;
  cursor: pointer;
}
.post-list__body:hover {
  text-decoration: underline;
}
.post-list__body__title {
  font-size: 20px;
  font-weight: normal;
  color: #333;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post-list__body__content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-weight: lighter;
  color: #666;
  line-height: 22px;
  text-align: left;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-list__footer {
  display: flex;
  align-items: center;
}
.post-list__footer__likes, .post-list__footer__date, .post-list__footer__comments, .post-list__footer__views {
  color: #888;
  font-size: 13px;
  padding: 0 5px;
}
.post-list__footer__likes {
  display: flex;
}
.post-list__image {
  display: flex;
  min-width: 150px;
  height: 150px;
  justify-content: center;
  object-fit: cover;
  cursor: pointer;
}
.post-list__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.write-link {
  display: block;
  margin-top: 20px;
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}
.write-link:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination li {
  border: none;
  margin: 0 5px;
  font-size: 1.2em;
  color: #333;
  cursor: pointer;
}
.pagination li.active {
  font-weight: bold;
  color: #3498db;
}
.pagination a {
  color: #333;
}
.pagination a:hover {
  color: #3498db;
}

/* Gnb.scss */
.gnb {
  display: flex;
  justify-content: center;
}
.gnb__layout {
  display: flex;
  height: 100px;
  width: 700px;
  align-items: center;
  justify-content: space-between;
}
.gnb__layout__right {
  display: flex;
  align-items: center;
  justify-items: end;
}
.gnb__layout__right :nth-child(1) {
  margin-right: 3px;
}
.gnb__layout__link {
  margin-right: 15px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.gnb__layout__link:hover {
  text-decoration: underline;
}

/* LogoutButton.scss */
.author {
  font-size: 14px;
  color: #333;
  margin: 0;
  cursor: pointer;
}

.comments {
  width: 100%;
}
.comments__header {
  font-size: 15px;
  color: #333;
  margin-bottom: 10px;
}
.comments__input-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 2px;
}
.comments__input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.comments__comment-list {
  text-align: left;
  list-style: none;
  width: 100%;
  padding: 0;
}
.comments__comment-list__item {
  border: none;
  border-bottom: 1px solid #888;
  padding: 10px;
}
.comments__comment-list__item__header {
  display: flex;
  justify-content: space-between;
}
.comments__comment-list__item__content {
  display: flex;
  min-height: 50px;
  align-items: center;
  font: 12px;
}
.comments__comment-list__item__footer {
  display: flex;
  justify-content: space-between;
}
.comments__comment-list__item__footer__like-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  font-size: 12px;
  padding: 2px 3px;
  width: 25px;
  height: 21px;
}
.comments__comment-list__item p {
  margin: 0;
}

.time-ago {
  font-size: 12px;
  color: #888;
}

.logout-s, .logout-m, .logout-l {
  border-color: #888;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout__name {
  color: #3498db;
  cursor: pointer;
}
.logout__name:hover {
  text-decoration: underline;
}
.logout-s {
  font-size: 13px;
}
.logout-m {
  font-size: 15px;
}
.logout-l {
  font-size: 17px;
}

.user-post-page__no-posts {
  margin-bottom: 10px;
}

.layout {
  width: 700px;
  min-height: 700px;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-create-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.post-create-page__label {
  width: 100%;
}
.post-create-page__label__title {
  height: 45px;
  width: 100%;
  padding: 5px 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.post-create-page__buttons-bar {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 45px;
  bottom: 0;
  background-color: white;
  border: 1px solid #333;
}

.postDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postDetail__info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.postDetail__info__author {
  display: flex;
  justify-content: flex-start;
}
.postDetail__info__views {
  font-size: 13px;
  color: #888;
  padding-left: 5px;
}
.postDetail__info__edit {
  display: flex;
  justify-content: space-between;
}
.postDetail__info__edit :nth-child(1) {
  margin-right: 2px;
}
.postDetail__title {
  font-size: 40px;
  text-align: left;
}
.postDetail__body {
  padding: 10px 0;
  min-height: 200px;
}
.postDetail__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.postDetail__footer__like-button {
  background-color: #eee;
  padding: 5px 10px;
  cursor: pointer;
}
.postDetail__footer__like-button:hover {
  background-color: #ddd;
}
.postDetail__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-page__profile {
  display: flex;
  flex-direction: column;
}
.user-page__profile__info {
  display: flex;
  justify-content: space-between;
  height: 150px;
}

/*# sourceMappingURL=main.css.map */
