@charset "UTF-8";
.quill > .ql-container > .ql-editor.ql-blank::before {
  font-size: 15px;
  color: #666;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #777;
  background-color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  word-break: keep-all;
}
.button.s {
  padding: 5px 10px;
  font-size: 12px;
}
.button.m {
  padding: 10px 20px;
  font-size: 14px;
}
.button.l {
  padding: 15px 30px;
  font-size: 16px;
}
.button.xl {
  padding: 20px 40px;
  font-size: 18px;
}
.button.loading {
  cursor: not-allowed;
}
.button.full-width {
  width: 100%;
}

.like-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #888;
  border-radius: 3px;
  width: 25px;
  height: 21px;
  padding: 2px 3px;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
}
.like-box.s {
  width: 25px;
  height: 21px;
  font-size: 12px;
}
.like-box.m {
  width: 35px;
  height: 31px;
  font-size: 15px;
}
.like-box.l {
  width: 45px;
  height: 41px;
  font-size: 17px;
}

.boder-none {
  border: none;
}

.like {
  background-image: url("../../../images/heart-black.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 0;
  border: none;
  width: 10px;
  height: 10px;
}
.like.s {
  width: 10px;
  height: 10px;
  font-size: 12px;
}
.like.m {
  width: 13px;
  height: 13px;
  font-size: 15px;
}
.like.l {
  width: 17px;
  height: 17px;
  font-size: 17px;
}
.like--liked {
  background-image: url("../../../images/heart-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 0;
  border: none;
  width: 10px;
  height: 10px;
}
.like--liked.s {
  width: 10px;
  height: 10px;
}
.like--liked.m {
  width: 13px;
  height: 13px;
}
.like--liked.l {
  width: 17px;
  height: 17px;
}

.error {
  height: 20px;
  color: red;
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
}

.no-posts {
  padding: 10px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: 200;
}

.drop-down {
  position: relative;
  display: inline-block;
  font-size: 20px;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  cursor: pointer;
}
.drop-down__content {
  position: absolute;
  z-index: 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
}
.drop-down__content__item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 120px;
  color: #333;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
}
.drop-down__content__item a {
  text-decoration: none;
  color: #333;
}
.drop-down__content span {
  border: 1px solid #333;
  padding: 5px 0;
  margin-top: -1px;
}

.post-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.post-list__title {
  width: 100%;
  font-size: 1.5rem;
  color: #333;
}
.post-list__item {
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  padding: 25px 0;
  border: none;
  border-bottom: 1px solid #bcbcbc;
  transition: background-color 0.3s;
}
.post-list__desc {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  flex: auto;
}
.post-list__header {
  display: flex;
}
.post-list__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-overflow: ellipsis;
  min-width: 550px;
  padding: 14px 0;
  cursor: pointer;
}
.post-list__body:hover {
  text-decoration: underline;
}
.post-list__body__title {
  font-size: 20px;
  font-weight: normal;
  color: #333;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post-list__body__content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-weight: lighter;
  color: #666;
  line-height: 22px;
  text-align: left;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-list__footer {
  display: flex;
  align-items: center;
}
.post-list__footer__likes, .post-list__footer__date, .post-list__footer__comments, .post-list__footer__views {
  color: #888;
  font-size: 13px;
  padding: 0 5px;
}
.post-list__footer__likes {
  display: flex;
}
.post-list__image {
  display: flex;
  min-width: 150px;
  height: 150px;
  justify-content: center;
  object-fit: cover;
  cursor: pointer;
}
.post-list__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.write-link {
  display: block;
  margin-top: 20px;
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}
.write-link:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination li {
  border: none;
  margin: 0 5px;
  font-size: 1.2em;
  color: #333;
  cursor: pointer;
}
.pagination li.active {
  font-weight: bold;
  color: #3498db;
}
.pagination a {
  color: #333;
}
.pagination a:hover {
  color: #3498db;
}

/* Gnb.scss */
.gnb {
  display: flex;
  justify-content: center;
}
.gnb__layout {
  display: flex;
  height: 100px;
  width: 700px;
  align-items: center;
  justify-content: space-between;
}
.gnb__layout__right {
  display: flex;
  align-items: center;
  justify-items: end;
}
.gnb__layout__right a {
  text-decoration: none;
}
.gnb__layout__right :nth-child(1) {
  margin-right: 10px;
}
.gnb__link {
  margin-right: 15px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.gnb__link a {
  text-decoration: none;
}

.author {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin: 0;
  cursor: pointer;
}

.comments {
  width: 100%;
}
.comments__header {
  font-size: 15px;
  color: #333;
  margin-bottom: 10px;
}
.comments__input-container {
  display: flex;
  width: 100%;
  min-height: 45px;
  padding: 2px;
  margin: 20px 0;
}
.comments__input-container button {
  border-left: 1px;
}
.comments__input {
  width: 100%;
  box-sizing: border-box;
}
.comments__comment-list {
  text-align: left;
  list-style: none;
  width: 100%;
  padding: 0;
}
.comments__comment-list__item {
  border: none;
  border-bottom: 1px solid #888;
  padding: 10px;
}
.comments__comment-list__item__header {
  display: flex;
  justify-content: space-between;
}
.comments__comment-list__item__content {
  display: flex;
  min-height: 70px;
  align-items: center;
  font-size: 12px;
}
.comments__comment-list__item__footer {
  display: flex;
  justify-content: space-between;
}
.comments__comment-list__item__footer__like-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  font-size: 12px;
  padding: 2px 3px;
  width: 25px;
  height: 21px;
}
.comments__comment-list__item p {
  margin: 0;
}

.time-ago {
  font-size: 12px;
  color: #888;
}

.logout-s, .logout-m, .logout-l {
  border-color: #888;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout__name {
  color: #3498db;
  cursor: pointer;
}
.logout__name:hover {
  text-decoration: underline;
}
.logout-s {
  font-size: 13px;
}
.logout-m {
  font-size: 15px;
}
.logout-l {
  font-size: 17px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.login__error {
  color: red;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 450px;
}
.login-form__title {
  font-size: 24px;
  margin-bottom: 20px;
}
.login-form__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login-form__sign-up-button {
  margin-bottom: 10px;
  color: #777;
  text-align: right;
  cursor: pointer;
}

.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-form {
  text-align: center;
  width: 450px;
  text-align: left;
}
.sign-up-form__title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.sign-up-form__input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.sign-up-form label {
  font-size: 12px;
  font-weight: bold;
}
.sign-up-form button {
  margin-top: 30px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal-overlay .modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.user-data-update {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-data-update__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
.user-data-update__form {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.user-data-update__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #777;
  box-sizing: border-box;
  margin-right: -1px;
}
.user-data-update__email {
  text-align: left;
  padding-bottom: 15px;
  font-weight: bold;
}
.user-data-update__label {
  text-align: left;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}
.user-data-update__profile-picture {
  margin-bottom: 20px;
}
.user-data-update__profile-picture__wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}
.user-data-update__profile-picture__thumb {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.user-data-update__profile-picture__input-file {
  border: 2px solid #d3d3d3;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  background-image: url("../../../images/camera.png");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
  border-radius: 50px;
  cursor: pointer;
  bottom: -5px;
  right: -5px;
}
.user-data-update__profile-picture__button {
  position: absolute;
  background: none;
  border: none;
  height: 30px;
  width: 10px;
  border-radius: 50px;
  top: -5px;
  right: -20px;
}
.user-data-update__description {
  resize: none;
  min-height: 30px;
  padding: 20px 10px;
  margin-bottom: 30px;
}
.user-data-update__ahthor {
  display: flex;
}
.user-data-update #file-input {
  display: none;
}
.user-data-update__button {
  align-self: flex-start;
}

.layout {
  width: 700px;
  min-height: 700px;
}

.input-layout {
  width: 450px;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-create-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.post-create-page__label {
  width: 100%;
}
.post-create-page__label__title {
  height: 45px;
  width: 100%;
  padding: 5px 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.post-create-page__buttons-bar {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 45px;
  bottom: 0;
  background-color: white;
  border: 1px solid #333;
}

.postDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postDetail__info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.postDetail__info__author {
  display: flex;
  justify-content: flex-start;
}
.postDetail__info__views {
  font-size: 13px;
  color: #888;
  padding-left: 5px;
}
.postDetail__info__edit {
  display: flex;
  justify-content: space-between;
}
.postDetail__info__edit :nth-child(1) {
  margin-right: 2px;
}
.postDetail__title {
  font-size: 40px;
  text-align: left;
}
.postDetail__body {
  padding: 10px 0;
  min-height: 200px;
}
.postDetail__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.postDetail__footer__like-button {
  background-color: #eee;
  padding: 5px 10px;
  cursor: pointer;
}
.postDetail__footer__like-button:hover {
  background-color: #ddd;
}
.postDetail__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.user-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-page__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.user-page__profile__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-page__profile__thumb {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #999;
  margin-right: 20px;
}
.user-page__profile__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user-page__profile__info__author {
  font-size: 28px;
  font-weight: bold;
}
.user-page__profile__info__follower {
  color: #777;
  font-size: 14px;
  font-weight: 200;
}
.user-page__profile__info__follower:nth-child(1) {
  margin-right: 10px;
}
.user-page__profile__info__description {
  margin-top: 20px;
  color: #777;
  font-size: 14px;
  font-weight: 200;
}
.user-page__profile__edit {
  padding-bottom: 74px;
}
.user-page__tabs {
  display: flex;
  height: 50px;
}
.user-page__tabs button {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  color: #777;
  font-weight: 200;
}
.user-page__tabs button.selected {
  color: #000;
  font-weight: 400;
  border-bottom-color: #000; /* 선택된 탭의 밑줄 색상 */
}
.user-page__tabs:nth-child(2) {
  margin-left: -1px;
}

/*# sourceMappingURL=main.css.map */
