.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &.s {
      padding: 5px 10px;
      font-size: 12px;
    }
  
    &.m {
      padding: 10px 20px;
      font-size: 16px;
    }
  
    &.l {
      padding: 15px 30px;
      font-size: 20px;
    }
  
    &.xl {
      padding: 20px 40px;
      font-size: 24px;
    }
  
    &:hover {
      background-color: #eee;
    }
  
    &.loading {
      cursor: not-allowed;
      background-color: #ddd;
  
      &:hover {
        background-color: #ddd;
      }
    }
    &.full-width {
        width: 100%;
      }
  }