.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #777;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    word-break: keep-all;

    &.s {
      padding: 5px 10px;
      font-size: 12px;
    }
  
    &.m {
      padding: 10px 20px;
      font-size: 14px;
    }
  
    &.l {
      padding: 15px 30px;
      font-size: 16px;
    }
  
    &.xl {
      padding: 20px 40px;
      font-size: 18px;
    }
  
    &.loading {
      cursor: not-allowed;
    
    }
    &.full-width {
        width: 100%;
      }
  }