.button{
    display: inline;
    background-color: white;
    border:1px solid #333;
    color: #333;
    border-radius: 5px;

    text-decoration:none;
    cursor: pointer;
    
    &-s{
        font-size: 13px;
    }
    &-m {
        font-size: 15px;
    }
    &-l {
        font-size: 17px;
    
    }
}
.comments-button{
    display: inline;
    border-radius: 0;
    height: 100%;
}


a{
    text-decoration: none;
}