.drop-down {
    position: relative;
    display: inline-block;
    font-size: 20px;
    &__content{
        position : absolute;
        z-index : 1; /*다른 요소들보다 앞에 배치*/
        font-weight: 400;
        background-color: #f9f9f9;



    &__item {
        display : block;
        text-decoration : none;
        width : 120px;
        color : rgb(37, 37, 37);
        font-size: 12px;
        padding : 5px 10px;
        margin: 0;
        border-radius: 0;
    }

    }
  }