.like-box,.like-box-s,.like-box-m,.like-box-l{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #888;
    border-radius: 3px;
    width: 25px;
    height: 21px;
    padding: 2px 3px;
    font-size: 12px;
    font-weight: normal;
    &-s{
        width: 25px;
        height: 21px;
        font-size: 12px;
    }
    &-m{
        width: 35px;
        height: 31px;
        font-size: 15px;   
    }
    &-l{
        width: 45px;
        height: 41px;
        font-size: 17px;
    }
}
.boder-none{
    border: none;
}
.like,.like-s,.like-m,.like-l{
    background-image: url('../../../images/heart-black.png');
    background-repeat: no-repeat;
    background-size : contain;
    background-position:center;
    border-radius: 0;
    border: none;
    width: 10px;
    height: 10px;

    &-s{
        width: 10px;
        height: 10px;
    }
    &-m{
        
        width: 13px;
        height: 13px;
            
    }
    &-l{
        width: 17px;
        height: 17px;
            
    }
    &--liked,&--liked-s,&--liked-m,&--liked-l{
        background-image: url('../../../images/heart-red.png');
        background-repeat: no-repeat;
        background-size : contain;
        background-position:center;
        border-radius: 0;
        border: none;
        width: 10px;
        height: 10px;
        &-s{
            width: 10px;
            height: 10px;
                
        }
        &-m{
            width: 13px;
            height: 13px;
                
        }
        &-l{
            width: 17px;
            height: 17px;
                
        }
    }
    
}